body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container p {
    text-align: center;
}

h1 {
    text-align: center;
    color: #a65999;
}

.controls {
    margin-bottom: 20px;
    text-align: center;
    /* Estilos para los controles de selección de colores, saturación, luminosidad, etc. */
}

input[type="color"] {
    /* Hacer que el selector de color sea cuadrado */
    width: 40px; /* Ancho del cuadrado */
    height: 40px; /* Alto del cuadrado */
    border-radius: 5px;
    padding: 0; /* Quitar padding */
    margin: 0; /* Quitar margen */
}

.palette {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Estilos para la visualización de la paleta de colores generada */
}

.color-box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 4px;
    /* Estilos para cada caja de color en la paleta */
}

.tutorial {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 2px solid #8c7387;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.tutorial h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #8c7387;
}

.tutorial p {
    margin-top: 0;
    margin-bottom: 20px;
}

.tutorial button {
    background-color: #8c7387;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.tutorial button:last-child {
    margin-right: 0;
}